* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.border{
    border: 1px solid red;
}
.container{
    width: 40%;
    margin: 0 auto;
}

h1{
    background-color:cadetblue;
    font-weight: bold;
    text-align: center;
}

.container p{
    text-align: center;
    padding: 5%;
    background-color:cornsilk;
}

.box{
    text-align: center;
    background-color:cornsilk;
}

#input{
    width: 30%;
    padding: 5px;
}

#btn{
    padding: 5px;
    background-color: cadetblue;
}

#result {
    text-align: center;
}